@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0b14;
    z-index: 5;

    padding-bottom: 10px;

    min-height: 72px;

    color: #f9f9f9;

    &__navigation{
        padding: 5px 36px;
        width: 80%;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: space-between;

    
        &__list{
            display: flex;
            align-items: center;

            @media (max-width: 620px){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

            }

            @media (max-width: 420px){
                display: grid;
                grid-template-columns: 1fr 1fr;

            }


            &__item {
                margin-left: 40px;
                display: inline-block; 
                letter-spacing: 1.42px;
                font-size: 15px;
                font-weight: 700;

                cursor: pointer;

                text-transform: uppercase;

                @media (max-width: 1270px){
                    display: none;
                }

                svg{
                    border-bottom: none;
                    margin-right: 5px;
                }
                a{
                    padding-bottom: 4px;

                    &:hover{
                        span{

                            border-bottom: 2px solid white;
                        }
                    }

                }

            }
            
        }

        &__logo{
            cursor: pointer;
            
            height: 48px;
            padding: 3px;
            
        }
        
        &__more{
            display: none;
            position: fixed;
            top: 0px;
            left: 25vw;
            border-radius: 5px;

            background-color: #0e0b14;


            &:hover{
                .header__navigation__more__item{
                    display: block;
                }
            }

            @media (max-width:1270px) {
                display: block;
                width: 50%;
                text-align: center;
            };

            &__item{
                display: none;
                margin: 8px auto 7px;
                font-size: 18px;
                font-weight: bold;
                a{
                    padding-bottom: 4px;

                    &:hover{
                        span{

                            border-bottom: 2px solid white;
                        }
                    }

                }
            }

            &__svg{
                cursor: pointer;
                margin-top: 25px;

            }
        }


    }

    &__profiles{
        display: block;
        position: fixed;
        top: 0;
        right: 0;

        &:hover {
            background-color:#21232a;
            .header__profiles__dropDown {
                display: block;
            }
        }

        &__profile{
            display: flex;
            height: 72px;
            align-items: center;
            justify-content: end;
            margin-right: 20px;

            &__name{
                @media (max-width: 480px) {
                    display: none;
                }
            }
            svg{
                margin-left: 10px;
            }
        }



        &__dropDown {
            box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
            display: none;

            a{
                color: variaveis.$corSecundaria;}

            li {
                display: flex;
                align-items: center;
                padding-bottom: 5px;
                margin: 5px 10px;
                justify-content: start;
                margin-right: 20px;
                
                a:hover{
                    color: variaveis.$corPrincipal;
                }
            
            }
        }
        
        }
    }



